<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.infrastructure.datasource.user.UserMapper">
    <resultMap id="user" type="com.example.backend.domain.model.user.User">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="selectUserByEmail" resultMap="user">
        SELECT
            id
            ,name
            ,password
            ,email
        FROM
            users
        WHERE
            email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.example.backend.domain.model.user.User">
        INSERT IGNORE INTO users
        (
            name
            ,email
            ,password
        )
        VALUES 
        (
            #{name}
            ,#{email}
            ,#{password}
        ) 
    </insert>

</mapper>