<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.infrastructure.datasource.board.BoardMapper">
    <resultMap id="board" type="com.example.backend.domain.model.board.Board">
        <id property="id" column="id" />
        <result property="boardName" column="board_name"/>
        <result property="boardDiscription" column="board_description"/>
        <result property="publicScopeType" column="public_scope_type"/>
        <result property="image" column="image"/>
        <result property="adminUserId" column="admin_user_id"/>
        <collection property="members" ofType="com.example.backend.domain.model.user.Member">
            <id property="id" column="user_id" />
            <result property="name" column="name"/>
            <result property="icon" column="icon"/>
        </collection>
    </resultMap>

    <select id="selectBoardListByUserId" resultMap="board">
        SELECT
            b.id
            ,b.board_name
            ,b.board_description
            ,b.public_scope_type
            ,b.image
            ,b.admin_user_id
            ,b.image
            ,u.id AS user_id
            ,u.name
            ,ui.icon
        FROM
            boards AS b
        JOIN
            users_boards AS ub
            ON b.id = ub.board_id
            AND ub.user_id = #{userId}
        JOIN
            users_boards AS ub_member
            ON b.id = ub_member.board_id
        JOIN
            users AS u
            ON ub_member.user_id = u.id
        LEFT JOIN
            user_icons AS ui
            ON u.id = ui.user_id
    </select>
    <insert id="insertBoard" parameterType="com.example.backend.domain.model.board.Board" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO boards
        (
            board_name
            ,board_description
            ,public_scope_type
            ,image
            ,admin_user_id
        )
        VALUES 
        (
            #{boardName}
            ,#{boardDiscription}
            ,#{publicScopeType}
            ,#{image}
            ,#{adminUserId}
        ) 
    </insert>
    <insert id="insertBoardMember" parameterType="Long">
        INSERT IGNORE INTO users_boards
        (
            user_id
            ,board_id
        )
        VALUES 
        (
            #{userId}
            ,#{boardId}
        ) 
    </insert>
</mapper>